.home {
  position: relative;
  border-radius: 5px;
  background: $color-white;
  border: 1px solid $color-gray;
  &__header {
    border-bottom: 1px solid $color-gray;
    display: grid;
    // grid-template-rows: 0.5fr 0.5fr 12fr;
    &-title {
      font-weight: bold;
      font-size: 20px;
      margin-top: 0;

      text-align: left;
      margin-left: 10px;
      margin-bottom: 10px;
      margin-top: 5px;
      width: 90%;
      padding: 10px;
    }
  }
}

// .home {
//   @media only screen and (max-width: 600px) {
//     max-width: 27em;
//   }
// }

// .home-tweet-button {
//   /* width: 25%; */
//   justify-self: end;
//   padding: 5px;
//   padding-left: 20px;
//   padding-right: 20px;
//   color: white;
//   background-color: var(--main-color);
//   border-color: var(--main-color);
//   font-size: 15px;
//   border: 1px solid var(--main-color);
//   margin-right: 10px;
// }
// .home-tweet-button:hover {
//   background-color: white;
//   color: var(--main-color);
//   border: 1px solid var(--main-color);
// }
// .home-tweet-button:focus {
//   outline: none;
// }
