.profile {
  padding-left: 20px;
  border-bottom: 10px solid $color-primary-light-1;

  // UpdateProfile.tsx CreateProfile.tsx component
  &-uploadImg {
    display: none;
  }
  &-uploadImg ~ span {
    display: flex;
    i,
    img {
      margin: 20px auto;
      border: 3px $color-primary-light inset;
      padding: 10px;
    }
    i {
      font-size: 100px;
    }
    img {
      height: 80px;
    }
  }
  &-btn {
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    outline: none;

    width: 130px;
    margin: 0 auto 10px;
    font-size: 15px;
    font-weight: 600;
    background-color: $color-primary;
    color: $color-white;
    border: 1px solid $color-white;
    border-radius: 30px;

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: $color-primary-light;
      border: 1px solid $color-primary;
    }
  }
  // ------------

  &-wrapper {
    position: relative;
    border: 1px solid $color-primary-light-1;
  }
  &__top {
    display: grid;
    grid-template-columns: 0.5fr 1fr 9fr;
    border-bottom: 1px $color-primary-light-1;
    margin-left: -20px;

    &-backArrow {
      margin: 10px;
      color: $color-primary;
      margin-top: 10;
      cursor: pointer;
    }

    &-name {
      margin: 9px 0 50px 10px;
      span {
        font-family: serif;
        font-size: 20px;
      }
    }
  }

  &__avatar {
    margin: 0;
    margin-left: 20px;

    img {
      width: 150px;
      border-radius: '50%';
    }

    i {
      font-size: 120px;
    }
  }

  h3 {
    text-align: left;
    font-size: 35px;
    margin: 40px 0 0 28px;
  }

  &__changeProfile {
    display: grid;
    justify-items: end;
    margin-right: 30px;
  }

  p {
    text-align: left;
    font-size: 20px;
  }

  &__website {
    a {
      color: $color-black;
      text-decoration: none;

      &:hover {
        color: $color-gray;
        text-decoration: underline;
      }
    }
  }

  &__followers {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    p {
      font-size: 20px;
      font-weight: 400;
    }
  }
}
