.profile {
  padding-left: 20px;
  border-bottom: 10px solid $color-primary-light-1;

  &-button {
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    outline: none;

    width: 130px;
    margin: 15px auto;
    font-size: 15px;
    font-weight: 600;
    background-color: $color-primary;
    color: $color-white;
    border: 1px solid $color-white;
    border-radius: 30px;

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: $color-primary-light;
      border: 1px solid $color-primary;
    }
  }

  &-wrapper {
    position: relative;
    border: 1px solid $color-primary-light-1;
  }
  &__top {
    /* width: 105%; */
    display: grid;
    grid-template-columns: 0.5fr 1fr 9fr;
    border-bottom: 1px $color-primary-light-1;
    margin-left: -20px;

    &-backArrow {
      margin: 10px;
      color: $color-primary;
      margin-top: 10;
      cursor: pointer;
    }

    &-name {
      /* margin-top: -15px; */
      margin: 8px 0 50px 10px;
      span {
        font-size: 20px;
        font-weight: 400;
      }
    }
  }
  &__changeProfile {
    display: grid;
    justify-items: end;
    margin-right: 30px;
    margin-bottom: 20px;
  }
  h3 {
    text-align: left;
    font-size: 30px;
  }

  p {
    text-align: left;
    font-size: 18px;
  }

  &__website {
    a {
      text-decoration: none;
      color: $color-black;

      &:hover {
        color: $color-gray;
      }
    }
  }

  &__followers {
    display: grid;
    grid-template-columns: 3fr 3fr 6fr;
    p {
      font-weight: 400;
      font-size: 18px;
    }
  }
}
