.logout {
  position: absolute;
  bottom: 0;
  &__container {
    cursor: pointer;
    margin-left: -5px;
    margin-bottom: 45px;
    h4 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border-radius: 25px;
      padding: 8px 10px;
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $color-white;
      }

      > i {
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin-right: -5px;
        background-color: $color-white;
      }
    }

    h4:hover {
      background: $color-primary;
      span {
        color: $color-white;
      }
    }
  }

  &-name {
    margin: 0 10px 0 20px;
  }

  &-icon {
    margin: 0 10px;
  }

  &__modal {
    &-span {
      cursor: pointer;
      p {
        margin: 0;
        font-size: 16px;
        border-bottom: 1px solid $color-black;
        &:hover {
          color: $color-gray;
        }
      }
    }
  }
}
