@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
body {
  font-family: 'Kalam', cursive;
  font-weight: 300;
}

.authentication-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.authentication-form__field {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  border-color: #6eaa4d;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-bottom: 27px;
}

.authentication-form__error {
  font-weight: 600;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.authentication-form__button {
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  outline: none;
  width: 50%;
  margin: 15px auto;
  font-size: 20px;
  font-weight: 600;
  background-color: #6eaa4d;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 30px;
}

.landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
}

.landing-wrapper {
  width: 100%;
  height: 100vh;
}

.landing__left {
  width: 50%;
  background: #6eaa4d;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.landing__center {
  margin-top: 200px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.landing-itemsbox {
  color: #fff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing-itemsbox .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 400px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.landing-itemsbox .item span {
  font-size: 25px;
  margin-right: 15px;
}

.landing-itemsbox .item p {
  font-size: 20px;
  font-weight: bold;
}

.landing-logo {
  height: 50px;
}

.landing-signup {
  font-size: 20px;
  display: block;
  margin-bottom: 15px;
  background-color: #6eaa4d;
  border: 1px solid #6eaa4d;
  color: #fff;
  border-radius: 100px;
  padding: 6px 16px;
  text-align: center;
  margin-top: 15px;
  text-decoration: none;
}

.landing-login {
  display: block;
  width: auto;
  text-align: center;
  background-color: #fff;
  border: 1px solid #6eaa4d;
  color: #84cc5b;
  border-radius: 100px;
  padding: 10px;
  font-size: 20px;
  width: auto;
  font-weight: bold;
  text-decoration: none;
}

.landing-login:hover {
  background-color: #edfcf2;
  color: #6eaa4d;
}

.login-wrapper {
  background-color: #fff;
  width: 50vw;
  margin: 5em auto;
}

.login-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.login h3 {
  color: #000;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

.login-register h4 {
  font-size: 18px;
}

.login-register__button {
  font-size: 20px;
  font-family: 'Kalam', cursive;
  font-weight: 700;
  color: #6eaa4d;
  text-decoration: none;
}

.login-register__button:hover {
  color: #4c7037;
  text-decoration: underline;
}

.signup-wrapper {
  background-color: #fff;
  width: 50vw;
  margin: 5em auto;
}

.signup-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.signup h3 {
  color: #000;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
}

.signup-login h4 {
  font-size: 18px;
}

.signup-login__button {
  font-size: 20px;
  font-family: 'Kalam', cursive;
  font-weight: 700;
  color: #6eaa4d;
  text-decoration: none;
}

.signup-login__button:hover {
  color: #4c7037;
  text-decoration: underline;
}
/*# sourceMappingURL=main.css.map */