$color-primary: #6eaa4d;
$color-primary-light: #84cc5b;
$color-primary-light-1: #badc58;
$color-primary-light-2: #edfcf2;
$color-primary-dark: #4c7037;
$color-white: #fff;
$color-black: #000;
$color-gray: #718093;
